.DS_Store
test*
96*
tmp*
Bimolecular
meso
notebook.jl
note.md
1.qsub
1.sh
irc2xppcm-3.sh
restart.jl
TS*log
Vc-Ger.dat
xppcm.ipynb
regression.jl
xppcm-julia.zip
.vstags
geometries-1.xyz
xp_pes2020.1.4.3-tdy.pl
single-atom-or-molecule/charge.off
single-atom-or-molecule/Ger.chk
single-atom-or-molecule/Ger.gjf
single-atom-or-molecule/Ger.log
single-atom-or-molecule/properties.dat
single-atom-or-molecule/tesserae.off
single-atom-or-molecule/Vc.gjf
single-atom-or-molecule/Vc.log
single-atom-or-molecule/*.dat
single-atom-or-molecule/*.gz
error
out
1.tar.gz
properties.dat
single-atom-or-molecule/analytical-p-test/1.gjf
single-atom-or-molecule/analytical-p-test/1.log
single-atom-or-molecule/charge.off
single-atom-or-molecule/*.chk
single-atom-or-molecule/*tesserae*
single-atom-or-molecule/*.gjf
single-atom-or-molecule/*.log
single-atom-or-molecule/*.dat
single-atom-or-molecule/fort.*
single-atom-or-molecule/analytical-p-test/charge.off
single-atom-or-molecule/analytical-p-test/*.chk
single-atom-or-molecule/analytical-p-test/*tesserae*
single-atom-or-molecule/analytical-p-test/*.gjf
single-atom-or-molecule/analytical-p-test/*.log
single-atom-or-molecule/analytical-p-test/*.dat
single-atom-or-molecule/analytical-p-test/fort.*
single-atom-or-molecule/analytical-p-test/Born*
single-atom-or-molecule/analytical-p-test/Gau-*
rewrite
*.zip
ipea-plotting.jl
*.pdf
single-atom-or-molecule/analytical-p-test/gen
ethylene
2s+*
H4
analytical-p
ionic-radius


single-atom-or-molecule/analytical-p-test/charges/*.chk
single-atom-or-molecule/analytical-p-test/charges/*.chk
single-atom-or-molecule/analytical-p-test/charges/fort.*
single-atom-or-molecule/analytical-p-test/charges/Gau-*
single-atom-or-molecule/analytical-p-test/charges/tesserae-*
