.DS_Store
test*
96*
tmp*
Bimolecular
meso
notebook.jl
note.md
1.qsub
1.sh
irc2xppcm-3.sh
restart.jl
TS*log
Vc-Ger.dat
xppcm.ipynb
regression.jl
xppcm-julia.zip
.vstags
geometries-1.xyz
xp_pes2020.1.4.3-tdy.pl
