.DS_Store
test*
96*
tmp*
2s+*
H2
H4
ethylene
analytical-p
.vscode/settings.json
.vstags
xp_pes2020.1.4.3-tdy.pl
*.zip
*.pdf
*.off
*.chk
*.gjf
*.log
*.dat
*.xyz
*.gz
fort.*

single-atom-or-molecule/analytical-p-test/*.off
single-atom-or-molecule/analytical-p-test/*.chk
single-atom-or-molecule/analytical-p-test/*tesserae*
single-atom-or-molecule/analytical-p-test/*.gjf
single-atom-or-molecule/analytical-p-test/*.log
single-atom-or-molecule/analytical-p-test/*.dat
single-atom-or-molecule/analytical-p-test/*.gz
single-atom-or-molecule/analytical-p-test/*slurm*
single-atom-or-molecule/analytical-p-test/fort.*
single-atom-or-molecule/analytical-p-test/Gau-*
single-atom-or-molecule/analytical-p-test/Born*
single-atom-or-molecule/analytical-p-test/gen

ionic-radius

*/*.off
*/*.chk
*/*tesserae*
*/*.gjf
*/*.log
*/*.dat
*/*.gz
*/*slurm*
*/fort.*
*/Gau-*

